*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #333333;


}

nav a:hover, a:active{
    text-align: center;
    height: 100%;
    z-index: 0;
    background: #b2693c;
    width: 150px;
    border-radius: 8px;
    padding-top: 10%;
    transition: 0.2;
}

body{
    font-family: 'Open Sans', sans-serif;
}


.logo{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 20px;
    width: 200;
    font-weight: bold;
    height:50;
    font-size: 16px;
    text-align: center;
    height: 50;
}

.nav-links{
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #964f4cff;
    justify-content: space-around;
    height: 50;
    width: 1000;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgb(138, 137, 139);

}
.nav-links a{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16;
    text-align: center;
    
}


.nav-links li{
    list-style-type: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
}