*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #000000;


}

.logo{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 48px;
}

.nav-links{
    display: flex;
    color: #ffffff;
    background-color: #000000;
    justify-content: space-around;
    width: 30%;
}
.nav-links a{
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 3px;
}
